android-build
*.obj
/.qmake.stash
/android-libtemp.so-deployment-settings.json
/app_process
/moc_mainwindow.obj
/moc_predefs.h
/outputmanager.obj
/robotoutputmanager.obj
/tcpconnexionmanager.obj
/ui_mainwindow.h
/wificonnexionmanager.obj
/joypad.obj
/keyboardinputmanager.obj
/libc.so
/libtemp.so
/linker
/main.obj
/mainwindow.obj
/Makefile
/moc_joypad.cpp
/moc_joypad.obj
/moc_mainwindow.cpp
